anidb/*				linguist-language=json	linguist-generated
anilist/*			linguist-language=json	linguist-generated
animeplanet/*	linguist-language=json	linguist-generated
anisearch/*		linguist-language=json	linguist-generated
annict/*			linguist-language=json	linguist-generated
kaize/*				linguist-language=json	linguist-generated
kitsu/*				linguist-language=json	linguist-generated
livechart/*		linguist-language=json	linguist-generated
myanimelist/*	linguist-language=json	linguist-generated
notify/*			linguist-language=json	linguist-generated
otakotaku/*		linguist-language=json	linguist-generated
shikimori/*		linguist-language=json	linguist-generated
shoboi/*			linguist-language=json	linguist-generated
silveryasha/*	linguist-language=json	linguist-generated
trakt/**			linguist-language=json	linguist-generated
*.json				linguist-generated
updated				linguist-generated
